<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Actyv OCR</title>
</head>
<body>
        <h2>Actyv ocr</h2>
        <h3>This API is designed to extract general fields from Adhar card</h3>
        <h3>A general field for uploaded Adhar front image includes, </h3>
        <li>Name</li>
        <li>DOB</li>
        <li>Gender</li>
        <li>Father/Husband name</li>
        <li>Age</li>
        <li>Adhar number</li>
        <br>
        <h3>A general field for uploaded Adhar front image includes, </h3>
    </body>
</html>